absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.2
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.4.0
APIFlask==2.2.1
apispec==6.7.1
appnope==0.1.4
asgiref==3.8.1
asteroid-filterbanks==0.4.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
backcall==0.2.0
backoff==2.2.1
bangla==0.0.2
bcrypt==4.2.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
blis==1.0.1
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
boto3==1.34.145
botocore==1.34.145
build==1.2.2.post1
cachetools==5.4.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
coqpit==0.0.17
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
dataclasses-json==0.6.7
datasets==2.20.0
dateparser==1.1.8
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
Distance==0.1.3
distro==1.9.0
Django==4.2.17
dnspython==2.6.1
docopt==0.6.2
durationpy==0.9
einops==0.8.0
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
encodec==0.1.1
eval_type_backport==0.2.0
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.1
fastapi-cli==0.0.4
fastjsonschema==2.20.0
ffmpy==0.3.2
filelock==3.13.4
filetype==1.2.0
Flask==3.1.0
Flask-Cors==5.0.0
Flask-HTTPAuth==4.8.0
flask-marshmallow==1.2.1
flatbuffers==24.3.25
fonttools==4.55.0
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
g2pkk==0.1.2
git-filter-repo==2.47.0
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gradio_client==0.15.1
greenlet==3.1.1
grpcio==1.65.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.1
gruut-lang-en==2.0.1
gruut-lang-es==2.0.1
gruut-lang-fr==2.0.2
h11==0.14.0
hangul-romanize==0.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.5
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflect==7.0.0
ipykernel==6.29.5
ipython==8.12.3
itsdangerous==2.2.0
jaconv==0.3.4
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
jiter==0.8.0
jmespath==1.0.1
joblib==1.4.2
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.7
kubernetes==31.0.0
langchain==0.3.10
langchain-community==0.3.10
langchain-core==0.3.22
langchain-openai==0.2.11
langchain-text-splitters==0.3.2
langcodes==3.5.0
langsmith==0.1.147
language_data==1.3.0
lazy_loader==0.4
librosa==0.10.0
lightning==2.3.3
lightning-utilities==0.11.6
llama-cloud==0.1.6
llama-index==0.12.3
llama-index-agent-openai==0.4.0
llama-index-cli==0.4.0
llama-index-core==0.12.3
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.3
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.3.2
llama-index-multi-modal-llms-openai==0.3.0
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.1
llama-index-readers-llama-parse==0.4.0
llama-parse==0.5.17
llvmlite==0.43.0
Mako==1.3.5
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.6.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mmh3==5.0.1
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
num2words==0.5.12
numba==0.60.0
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.57.0
opencv-python==4.10.0.84
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
optuna==3.6.1
orjson==3.10.6
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.0.0
pipreqs==0.5.0
plac==1.4.3
platformdirs==4.2.2
pooch==1.8.2
posthog==3.7.4
preshed==3.0.9
pretty-errors==1.2.25
primePy==1.3
proces==0.1.7
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.29.1
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyannote.audio==3.3.1
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.10.1
pydantic-settings==2.6.1
pydantic_core==2.27.1
pyDeprecate==0.3.1
pydub==0.25.1
Pygments==2.18.0
pykakasi==2.2.1
pynndescent==0.5.13
pyparsing==3.2.0
pypdf==5.1.0
PyPika==0.48.9
pypinyin==0.50.0
pyproject_hooks==1.2.0
pysbd==0.3.4
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytorch-lightning==2.3.3
pytorch-metric-learning==2.6.0
pytz==2024.2
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resampy==0.4.3
Resemblyzer==0.1.4
rich==13.9.4
rpds-py==0.19.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.5.3
s3transfer==0.10.2
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.9.3
seaborn==0.13.2
semantic-version==2.10.0
semver==3.0.2
sentencepiece==0.2.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.3.7
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.0
SQLAlchemy==2.0.31
sqlparse==0.5.2
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
striprtf==0.0.26
SudachiDict-core==20240409
SudachiPy==0.6.8
sympy==1.13.0
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
thinc==8.3.2
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tokenizers==0.19.1
tomli==2.2.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.4.0
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.4.0
torchmetrics==1.4.0
tornado==6.4.1
tqdm==4.67.0
trainer==0.0.36
traitlets==5.14.3
transformers==4.43.2
TTS==0.22.0
txtsplit==1.0.0
typeguard==4.3.0
typer==0.13.1
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
umap-learn==0.5.6
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
urllib3==2.2.3
uvicorn==0.30.1
uvloop==0.19.0
wasabi==1.1.3
watchfiles==0.22.0
wcwidth==0.2.13
weasel==0.4.1
webargs==8.6.0
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
wrapt==1.17.0
xxhash==3.4.1
yarg==0.1.9
yarl==1.9.4
zipp==3.21.0
